.container {
  text-align: center;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents div {
  margin: 16px;
}

.inputs input {
  margin: 4px auto;
  width: 120px;
}

#box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

label {
  font-family: monospace;
}
