/* Source: https://codepen.io/CYass/pen/qwjbRr; */

* { box-sizing: border-box; }
table {
  margin: 10px;
  border-spacing: 0px;
}
tr:first-child td {
  border-top-color: black;
}
tr:nth-child(3n) td {
  border-bottom-color: black;
}
td {
  border: 1px solid lightgrey;
  padding: 0;
  height: 40px;
  width: 40px;
}
td:first-child {
  border-left-color: black;
}
td:nth-child(3n) {
  border-right-color: black;
}
input {
  padding: 0;
  text-align: center;
  border: 0;
  height: 38px;
  width: 38px;
}
input:hover {
  background: #ffffff;
}
.container{
  display: flex;
}
#solution td {
  text-align: center;
}
